<ion-header>
  <ion-toolbar color="danger">
    <ion-title>
      Usuário
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>



  <ion-item color="danger">
    <ion-label>
      Raylson De Souza Barros
    </ion-label>
  </ion-item>
  
  <ion-item color="danger">
      <ion-label>
        raylsondesouza@gmail.com
      </ion-label>
    </ion-item>
  
    <ion-item color="danger">
        <ion-label>
          68 0 000-0000
        </ion-label>
      </ion-item>
  
      
      <ion-item color="danger">
          <ion-label>
              Rua Manoel Joaquim De Lima 
          </ion-label>
        </ion-item>
        
  
  </ion-content>